

.circles{
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow: hidden;
    gap : 10px;
}

.circles-circle{
    animation-name: circles-circle;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes circles-circle {
    from{

    }
    to{
        opacity: 1;
    }
    
}
